# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
node_modules
.env
.secret
coverage
coverage.json
typechain

# AWS
**/aws.json

# hardhat
artifacts*
deployments*
cache*
*.txt

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
coverage

# production
build

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock 
tenderly.yaml
.idea

# Local Netlify folder
.netlify
