CONTRACT_ADDRESS=""

TOKEN_BASE="0xae13d989dac2f0debff460ac112a837c89baa7cd"

TOKEN_TARGET="0x8babbb98678facc7342735486c851abd7a0d17ca"

PURCHASE_AMOUNT="0.001"
            
ROUTER="0x9Ac64Cc6e4415144C455BD8E4837Fea55603e5c3"

FEES="25"

DEADLINE="15"
GAS_LIMIT="2000000"
GAS_PRICE="5"
GAS_TOKEN_MINT_AMOUNT="10"

WS="wss://speedy-nodes-nyc.moralis.io/[key]/bsc/testnet/ws"
RPC="https://speedy-nodes-nyc.moralis.io/[key]/bsc/testnet"
